rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthorizedUser() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email == 'jammy.pate@gmail.com';
    }

    match /sharedData/{document} {
      allow read, write: if isAuthorizedUser();
    }
  }
}